.fixed-header {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(to bottom, #10141b 0%, #10141bbf 50%, transparent 100%);
}
.primary-header {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 1rem;

  .logo {
    height: 6rem;
  }
  .logo,
  li {
    cursor: pointer;
  }
}
.primary-navigation {
  flex-direction: column;
  padding: 0;
  list-style: none;
  gap: 2rem;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;

  .active {
    color: #ddbc00;
  }
  li {
    transition: all 0.3s;
    &:hover {
      text-shadow: 0 0 36px rgba(255, 255, 0, 0.6);
    }
  }
}

@media (min-width: 768px) {
  .fixed-header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .primary-header {
    flex-direction: row;
    .logo {
      height: 5rem;
    }
  }
  .primary-navigation {
    flex-direction: row;
  }
}
