<div class="fixed-header">
  <div class="container">
    <nav class="primary-header flex">
      <img class="logo" routerLink="" src="assets/images/hogwarts-vintage-logo.png" alt="Hogwarts">
    
      <ul class="primary-navigation flex">
        <li routerLink="/staff" routerLinkActive="active">Staff</li>
        <li routerLink="/characters" routerLinkActive="active">Characters</li>
        <li routerLink="/students" routerLinkActive="active">Students</li>
      </ul>
    </nav>
    
  </div>
</div>
